.sectionCon {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section.hidden {
  display: flex;
  gap: 7px;
  min-height: 30vh;
  border: 2px black solid;
  border-radius: 6px;
}
.hidden img {
  width: auto;
  height: 30vh;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
