.sectionCon {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section.hidden {
  display: flex;
  gap: 7px;
  min-height: 30vh;
  border: 2px skyblue solid;
  border-radius: 6px;
}
.hidden img {
  width: auto;
  height: 30vh;
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
h2.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 45px;
  background: linear-gradient(
    to right,
    #64c287,
    #48d0c6,
    #3fc3d8,
    #3f9ad8,
    #3075db
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
section.hidden {
  background: skyblue;
}
