* {
  box-sizing: border-box;
}
header {
  font-size: 12px;
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  background-color: antiquewhite;
  min-height: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.menu {
  font-family: sacramento;
}
body {
  background-image: url("../image/pink-sky-background-with-crescent-moon.jpg");
  background-repeat: no-repeat;
}
html,
body {
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
}
a:active {
  color: black;
}
/* navbar */
.navbar {
  font-family: calibri;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  background-color: transparent;
  border: 3px solid white;
  border-top: none;
}
.navdiv {
  display: flex;
  justify-content: space-between;
  font-size: 1vw;
  /* text-wrap: wrap; */
}
.head {
  list-style: none;
  display: inline-block;
}
li.head a {
  position: relative;
  font-size: 15px;
  font-weight: bold;
  margin-right: 7px;
  color: white;
}
li.head a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 10%;
  width: 0;
  background: white;
  transition: 0.3s;
}
li.head a:hover::before {
  width: 100%;
}
button {
  margin-top: 5px;
  background-color: aquamarine;
  border-radius: 15px;
}
button:hover {
  transform: scale(1.1);
}
button a {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
/* heading */
h1 {
  text-align: center;
  color: white;
  font-size: 4em;
  font-weight: bold;
}
li {
  list-style: none;
}
/* main */
.main {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* introduction */
.introduction {
  background: palevioletred;
  color: white;
  border: 2px solid white;
  border-radius: 0.5em;
  min-width: 5em;
  max-width: 15em;
  max-height: fit-content;
  font-size: 20px;
}
.tit {
  text-align: center;
  font-weight: bold;
  background: skyblue;
  padding: 2vw;
  border-radius: 0.5em;
  font-size: 1em;
  border-bottom: 1px white solid;
}
.tit:hover {
  color: red;
  transition: 0.5s;
}
/* on this page */
.onthispage {
  color: white;
  border: 2px white solid;
  border-radius: 0.5em;
  min-width: 5em;
  max-width: 18em;
  max-height: fit-content;
  background: palevioletred;
}
.OTPlist {
  display: flex;
  flex-direction: column;
  align-content: baseline;
}
.OTPlist li {
  left: 0;
  position: relative;
}
.OTPlist li a {
  color: white;
  font-size: 1.2em;
}
/* quick link */
.dropdown {
  color: white;
  position: relative;
}
.dropdown * {
  box-sizing: border-box;
}
.select {
  background: skyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px white solid;
  font-size: 1.1em;
  min-width: 20vw;
  border-radius: 0.5em;
  padding: 2vw;
  cursor: pointer;
  transition: background 0.3s;
}
.select-clicked {
  border: 2px wheat solid;
  box-shadow: 0 0 0.8em wheat;
}
.select:hover {
  background: #323741;
}
.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}
.caret-rotate {
  transform: rotate(180deg);
}
.menu {
  list-style: none;
  padding: 0.1em 0.3em;
  background: palevioletred;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}
.menu li {
  padding: 0.4em 0.2em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
  min-width: 30vw;
}
.menu li:hover {
  background: #2a2d35;
}
.active {
  background: #23242a;
}
.menu-open {
  display: block;
  opacity: 1;
}
ul.menu li a {
  position: relative;
  font-size: 1em;
  font-weight: bold;
  margin-right: 0.2em;
  color: white;
}
/* slider */
/* .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11em;
}

.slider {
  height: 2em;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}
.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(20px * 3);
}

.slider .slide {
  height: 10px;
  width: 25px;
}

.slider .slide div {
  width: 80%;
  height: 10px;
  border-radius: 0.6em;
  border: 2px solid #bbbbbb;
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-25px * 1.5));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-25px * 1.5));
  }
} */
